*{
    margin: 0 ;
    padding: 0 ; 


}
body{
    background-color: #548687;
    text-align: center;
    justify-content: center;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center ;
    align-items: center;
    gap: 1vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border: none; 
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 20%);
    font-size: 8vmin;
    color : #b0413e;

}